ASP Exam Material (2023)/
Demo/
HW/H1/
HW/H2/1.svg
HW/H2/filter_block_diagram.drawio
HW/H2/lowshelf.png
HW/H2.zip

HW/H3/*.pdf
HW/H3/code.zip
HW/H3/bigMuff.wav.asd

*.zip
slides/
*.tex
*.html
*.pdf
*.docx